@import "../../styles/mixins/responsive.scss";

.newsLetter {
  margin: 0px auto;
  width: 100%;
  margin-left: 50px;

  @include mobile {
    margin-left: 0px;
    position: absolute;
    bottom: 0;
  }

  .form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .input {
      width: 100%;
      height: 100%;
      padding: 20px;
      font-size: 18px;
      outline: none;
    }

    .button {
      width: 50px;
      height: 80%;
      position: absolute;
      right: 10px;
      background-color: #272726;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      border: none;
    }
  }
}