@import "../../styles/mixins/responsive.scss";

.contact {
  min-height: calc(100vh - 150px);
  display: flex;
  justify-content: center;

  @include mobile {
    justify-content: flex-start;
  }

  .contactBox {
    width: 100%;
    padding: 0px 200px;
    margin-bottom: 50px;

    @include mobile {
      padding: 0px;
    }

    .title {
      width: 580px;
      font-size: 42px;

      @include mobile {
        width: auto;
      }
    }


  }
}