@import "../styles/colors.scss";
@import "../styles/mixins/responsive.scss";

.Home {
  min-height: calc(100vh - 150px);
  display: flex;
  gap: 50px;
  justify-content: center;

  @include mobile {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 100px;


      .title {
        font-size: 62px;
      }

      .desc {
        font-size: 16px;
        line-height: 25px;
        text-align: justify;

        a {
          color: $second-color;
          text-decoration: underline;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 50px;

        .button {
          &:first-of-type {
            padding: 10px 20px;
            background-color: $third-color;
            border: none;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
          }

          &:last-of-type {
            background-color: transparent;
            border: none;
            font-weight: bold;
            cursor: pointer;
            color: black;
          }
        }
      }
    }

    .bottom {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      gap: 50px;
      padding: 20px 0px;

      @include mobile {
        flex-direction: column;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -9999px;
        right: -9999px;
        height: 100%;
        background-color: #262626;
        z-index: -1;
      }


      .bottomLeft {
        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }

        .button {
          background-color: $second-color;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: bold;
          width: 130px;
          margin-top: 20px;
          cursor: pointer;
          color: black;
        }
      }

      .bottomRight {
        font-size: 16px;

        .articles {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .article {
            border-bottom: 1px solid #bbb;
            cursor: pointer;
          }
        }
      }

    }
  }

  .right {
    flex: 1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: -9999px;
      right: -9999px;
      bottom: 0;
      left: 0;
      background-color: #DFD1C1;
      z-index: -1;

      @include mobile {
        left: -9999px;
      }
    }


  }
}