@import "../../styles/colors.scss";
@import "../../styles/mixins/responsive.scss";

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 50px;
  z-index: 50;

  &::before {
    content: "";
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: 0;
    left: -9999px;
    background-color: white;
    z-index: -1;
  }

  .logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .links {
    flex: 1;
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

    @include mobile {
      display: none;
    }

    .link {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: $third-color;
      }
    }
  }

  .menuClose {
    display: none;
  }

  .chat {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @include mobile {
      display: none;
    }

    .button {
      width: 100px;
      height: 50px;
      padding: 10px;
      border: 1px solid #bbb;
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .menuOpen {
    font-size: 25px;
    display: none;

    @include mobile {
      display: block;
    }
  }

  .open {
    display: flex;
  }

  .close {
    display: none;
  }

  .mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 0px;
    width: 65vw;
    height: 100vh;
    border-radius: 0px 0px 5px 5px;
    background: rgba(255, 255, 255, 0.534);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.534);

    .links {
      display: flex;
      flex-direction: column;
      font-size: 22px;
      padding: 0px;
      margin-top: 100px;
      gap: 50px;
    }

    .chat {
      display: block;
      margin-top: 50px;
    }

    .menuClose {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      font-size: 25px;
      z-index: 1;
    }
  }
}