.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 50px;

  .authorImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-position: top;
    object-fit: cover;
  }

  .authors {
    border-top: 1px solid #333;
    padding-top: 20px;
  }

  .author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;

    .authorDetails {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .authorName {
        font-size: 14px;
        font-weight: bold;
      }

      .authorLocation {
        font-size: 14px;
        display: flex;
        gap: 2px;
        align-items: center;
      }
    }
  }

  .title {
    font-weight: bold;
    font-size: 18px;
  }

  .contributors {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 20px 0px;
  }

  .newsletter {
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      .input {
        padding: 10px;
      }

      .button {
        padding: 5px;
        width: 100%;
        font-size: 12px;
        background-color: #262626;
        color: white;
        border: none;
        cursor: pointer;
      }

    }
  }

}