@import "../../styles/mixins/responsive.scss";

.footer {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid #bbb;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    gap: 20px;
    height: 80px;
  }

  .footer_text {
    font-weight: bold;

    @include mobile {
      font-size: 16px;
    }
  }

  .social_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    @include mobile {
      gap: 30px;
    }

    .social_link {
      .img {
        width: 25px;
        height: 25px;
      }
    }
  }
}